<h3>{{ hello }}</h3>

<a ng-click="changeLimit()">Change Limit</a>

<input type="text" name="searchResults" ng-model="searchResults"></input>
<button type="button" ng-click="search()">Search</button>

<div class="ui grid container">
  <div class="ui cards" ng-hide="isSearching">
    <div class="centered card" ng-repeat="item in arrayTest | limitTo: limit">
      <div class="content">
        <div class="right floated meta">14 horas</div>
        <img class="ui avatar image" src="http://semantic-ui.com/images/avatar/large/elliot.jpg"> Eliot
      </div>
      <div class="image">
        <img src="{{ item.image }}">
      </div>
      <div class="content">
        <span class="right floated">
          <i class="heart outline like icon"></i>
          {{ item.likes }} likes
        </span>
        <i class="comment icon"></i>
        {{ item.comments.length }} comments
      </div>
      <div class="extra content">
        <div class="ui large transparent left icon input">
          <i class="heart outline icon"></i>
          <input type="text" placeholder="Add Comment...">
        </div>
      </div>
    </div>
  </div>
</div>

<ul ng-show="isSearching">
  <li ng-repeat="result in results | limitTo: 100">
    {{ result }}
  </li>
</ul>
